#root{
  display: flex;
  width: 500px;
  gap: 50px;
}
.box{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.drop{
   border: 3px dashed #aaa;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
